#about-photo {
  width: 40%;
  float: right;
  padding-left: 25px;
  padding-bottom: 25px;
}

#about-section .content-body {
  margin-top: 15px;
  margin-bottom: 55px;
}

#about-section p {
  margin-bottom: 20px;
}

// Bootstrap L
@media (min-width: 992px) {
  #about-photo {
    width: 35%;
    padding-left: 40px;
    padding-bottom: 40px;
  }
}