#contact-section {
  margin-bottom: 160px;
  max-width: 900px;
}

#contact-text {
  margin-top: 0px;
  margin-bottom: 10px;
}

#email {
  margin-top: 0px;
  margin-bottom: 8px;
}

#email a {
  color: $color-mint;
}

#secondary-contact-info {
  color: $color-text-dark;
}

#secondary-contact-info table {
  border-spacing: 0px 23px;
  position: relative;
}

#secondary-contact-info td {
  font-size: 18px;
  line-height: 2;
}

.contact-icon {
  position: relative;
  height: 25px;
  padding-right: 20px;
}

#phone-icon {
  top: 6px;
}

#map-icon {
  top: -11px;
}

// Bootstrap L
@media (min-width: 992px) {
  #secondary-contact-info {
    margin-left: 70px;
  }
  
  #secondary-contact-info table {
    top: -28px;
  }

  #contact-section h2 {
    font-size: 27px;
  }
}