
/**********
 * IMPORTS 
 **********/
//Bootstrap prereqs
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

// Bootstrap core imports
@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";


/*************
 * VARIABLES
 *************/
 /* Colors */
$color-text: #F7F0F3;
$color-text-muted: #E8DEE2;
$color-text-dark: #B1A2A8;
$color-gold: #DBBA51;
$color-mint: #D0FCB3;
$color-lavender: #BC88C8;
$color-background: #050410;
$color-card-bg: #1B3236;
$color-card-bg-disabled: #2D4044;
$color-card-text: #C3B8BD;
$color-footer-divider: #495351;

/* Sizes */
// left/right margins across site
$base-margin: 90px; 
$base-margin-sm: 60px;
$base-margin-xxs: 19px;
$base-margin-xs: 30px;


/******************
 * SITE WIDE STYLES
 ******************/
body {
  font-family: Karla, sans-serif;
  color: $color-text;
  margin: 0px;
  height: 100%; // for landing image
  max-height: 100%; // for landing image
}

html {
  height: 100%; // for landing image
  max-height: 100%; // for landing image
  background-color: $color-background;
}

.dim-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 15;
}


// provide a content wrapper with margins and background color
.page-wrapper {
  padding: 0px $base-margin-xxs;
  background-color: $color-background;
}

h2 {
  font-size: 25px;

  font-weight: 500;
  line-height: 1.7;

  &#about-preview-intro {
    margin-top: 30px;
  }

  &.content-intro {
    margin-top: -8px;
    margin-bottom: 8px;
  }
}

p {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 35px;
}

// co-opt the strong tag for color highlights
strong {
  font-weight: inherit;
  color: $color-gold;
}

.mint-color {
  color: $color-mint;
}

.mint-color-background {
  background-color: $color-mint;
}

.gold-color-background {
  background-color: $color-gold;
}

.lavender-color-background {
  background-color: $color-lavender;
}

button {
  background: none;
  border: 2px solid $color-mint;
  color: $color-mint;
  font-family: Karla, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 50px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #2f332b;
  }
  &:focus:not(:hover) {
    box-shadow: 0 0 0 4px #758159;
  }
}

/* Card component */
.card {
  border-radius: 13px;
  background: $color-card-bg;
  padding: 25px;
  margin-bottom: 40px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 6px #758159;
  }
}

.icon-square {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.card-icon {
  stroke: $color-card-bg;
}

.card-header {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0px;
}

.card p {
  font-size: 19px;
  line-height: 1.7;
  color: $color-card-text;
  margin-top: 12px;
  margin-bottom: 5px;
}

/******************
 * CONTENT PAGES
 ******************/
 .page-title {
   margin-top: 50px;
   font-style: italic;
   font-size: 13px;
 }

 .page-wrapper.content {
   max-width: 750px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 110px;
 }

// XS
@media (min-width: 450px) { 
  .page-wrapper.content {
    padding: 0px $base-margin-xs;
  }
}

// Bootstrap S
@media (min-width: 576px) { 
  .page-wrapper {
    padding: 0px $base-margin-sm;
  }
}

// Bootstrap M  
@media (min-width: 768px) {
  button:not(.content-page-button) {
    font-size: 25px;
  }

  #home-page-cards .card {
    margin-left: 5px;
    margin-right: 5px;
  }

  #home-page-cards .card-header {
    font-size: 28px;
  }

  #home-page-cards.card p {
    font-size: 21px;
  }
}

// Bootstrap L
@media (min-width: 992px) {
  .card-header {
    font-size: 24px;
  }

  .card p {
    font-size: 18px;
  }
}

// Bootstrap XL
@media (min-width: 1200px) {
  #copyright {
    font-size: 18px;
  }
}

@import "fonts";
@import "nav";
@import "footer";
@import "home";
@import "about";
@import "research";
@import "teaching";
@import "curricular_materials";
@import "contact";