
/* Bootstrap prereqs */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

/* Bootstrap core imports */
@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";

/* Colors */
$color-text: #F7F0F3;
$color-gold: #DBBA51;
$color-background: #050410;

/* Sizes */
$base-margin: 90px;
$base-margin-lg: 60px;

/* Site-wide styles */
body {
  font-family: Karla, sans-serif;
  color: $color-text;
  margin: 0px;
  height: 100%; // for landing image
  max-height: 100%; // for landing image
}

html {
  height: 100%; // for landing image
  max-height: 100%; // for landing image
}

#page-wrapper {
  padding-left: $base-margin;
  padding-right: $base-margin;
}

/* eliminate bootstrap container margin & padding */
.container {
  margin: 0px;
  padding: 0px;
}

/* co-opt the bold tag for color highlights */
b {
  font-weight: inherit;
  color: $color-gold;
}

// Bootstrap XL
@media (min-width: 1200px) {
  h1 {
    font-size: 53px;
  }
}

@import "nav";
@import "home";

