.navbar {
  padding: 8px ($base-margin-xs - 10) 8px $base-margin-xs;
  z-index: 100;
}

.page-nav-links-section {
  text-align: right;
  display: none;
}

.page-nav-link {
  margin-left: 36px;
  font-size: 15px;
  font-weight: bold;
}

a.nav-title {
  color: $color-text;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

a.page-nav-link {
  color: $color-text;
  text-decoration: none;
  display: inline-block;
  position: relative;

  &.active {
    color: $color-mint;
  }

  // Underline
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -11px;
    left: 0;
    background-color: $color-mint;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }

  // Hover Underline
  &:hover::after {
      transform: scaleX(1);
  }
}

// Header image - visible on all pages except Home
#content-page-header.active {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  max-height: 240px;
  background: $color-background;  
  background-size: cover;
  background-image: url(../images/night-sky-header.jpg);
}

#mobile-nav-menu-icon {
  width: 60px;
}

// Bootstrap S
@media (min-width: 576px) { 
  .navbar {
    padding: 40px $base-margin-sm;
  }
}

// Bootstrap L
@media (min-width: 992px) {
  .page-nav-links-section {
    display: block;
  }

  #mobile-nav-menu-icon {
    display: none;
  }
}

// Bootstrap XL
@media (min-width: 1200px) {
  .page-nav-link {
    margin-left: 50px;
    font-size: 17px;
  }

  .navbar {
    padding: 40px $base-margin;
  }
}