.navbar, #close-icon {
  padding: 8px ($base-margin-xxs - 10) 8px $base-margin-xxs;
}

.navbar {
  z-index: 5;
}

.page-nav-links-section {
  text-align: right;
  display: none;
}

.page-nav-link {
  margin-left: 36px;
  font-size: 15px;
  font-weight: bold;
}

a.nav-title {
  color: $color-text;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

a.page-nav-link {
  color: $color-text;
  text-decoration: none;
  display: inline-block;
  position: relative;

  &.active {
    color: $color-mint;
  }

  // Underline
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -11px;
    left: 0;
    background-color: $color-mint;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }

  // Hover Underline
  &:hover::after {
      transform: scaleX(1);
  }
}

// Header image - visible on all pages except Home
#content-page-header.active {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  max-height: 130px;

  background: $color-background;  
  background-size: cover;
  background-image: url(../images/night-sky-header.jpg);
}

// Mobile view
#mobile-nav-menu-icon {
  cursor: pointer;
  width: 60px;
}

#mobile-nav-top {
  width: 100%;
}

#close-icon {
  width: 60px;
  height: 60px;
  float: right;
  cursor: pointer;
}

#mobile-nav-menu {
  position: absolute;
  z-index: 20;
  background-color: $color-background;
  margin-left: auto;
  margin-right: auto;
  display: none;
  width: 100%;
  border-bottom: 4px solid $color-mint;
}

#mobile-nav-links-section {
  list-style-type: none;
  position: relative;
  padding-left: 0px;
  padding-top: 30px;
  padding-bottom: 5px;
  clear: both;
}

.mobile-nav-link {
  color: $color-text;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.1px;

  &.active {
    color: $color-mint;
  }
}

// Bootstrap S
@media (min-width: 576px) { 
  .navbar, #close-icon {
    padding: 40px $base-margin-sm;
  }

  #content-page-header.active {
    max-height: 240px;
  }

  #mobile-nav-links-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mobile-nav-link {
    margin-bottom: 45px;
  }
}

// Bootstrap L
@media (min-width: 992px) {
  .page-nav-links-section {
    display: block;
  }

  #mobile-nav-menu-icon {
    display: none;
  }
}

// Bootstrap XL
@media (min-width: 1200px) {
  .page-nav-link {
    margin-left: 50px;
    font-size: 17px;
  }

  .navbar {
    padding: 40px $base-margin;
  }
}