.navbar {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-nav-links-section {
  padding-top: 3px;
}

.page-nav-link {
  padding-left: 50px;
  font-weight: bold;
}

a.nav-title {
  color: $color-text;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}