{{ define "main" }}

{{ partial "nav.html" . }}

<div class="page-wrapper content">
  <div class="page-title">
    About
  </div>
  <hr class="content-divider mint-color-background">
  <img id="about-photo" src="/images/molly-simon-about.png">

  <h2 id="about-intro">
    Dictum non consectetur a erat nam at lectus urna. Mauris sit amet massa vitae euismod nisi. 
  </h2>
  <p id="about-body">
    Rhoncus est pellentesque elit ullam
    corper dignissim cras tincidunt 
    lobortis. Volutpat sed cras ornare arcu 
    dui vivamus arcu felis. Nisi porta lorem mollis aliquam ut porttitor leo a. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec. Turpis egestas sed tempus urna et pharetra pharetra massa massa. Sed viverra ipsum nunc aliquet bibendum enim. Sed velit dignissim sodales ut eu sem integer vitae justo. Etiam sit amet nisl purus in. 

    Diam in arcu cursus euismod quis viverra nibh cras pulvinar. Malesuada pellentesque elit eget gravida cum sociis natoque. Malesuada proin libero nunc consequat interdum varius sit amet. Nunc faucibus a pellentesque sit amet porttitor eget dolor. Tempus quam pellentesque nec nam aliquam sem et tortor. Risus pretium quam vulputate dignissim suspendisse in est ante in. Nunc faucibus a pellentesque sit amet.

    Vitae aliquet nec ullamcorper sit amet risus. Cursus mattis molestie a iaculis at erat pellentesque adipiscing commodo. Porta non pulvinar neque laoreet suspendisse interdum consectetur libero. Vestibulum morbi blandit cursus risus at ultrices. At augue eget arcu dictum.
  </p>
</div>

{{ end }}