{{ define "main" }}

{{ partial "nav.html" . }}

<div id="about-section" class="page-wrapper content">
  <div class="page-title">
    About
  </div>
  <hr class="content-divider mint-color-background">
  <img id="about-photo" src="/images/molly-simon-about-compressed.jpg">

  <h2 class="about-intro">
    {{ .Params.about_intro | markdownify }}
  </h2>
  <div class="content-body">
    {{ .Params.about_body | markdownify }}
  </div>
  <a href="{{ .Params.cv }}" target="blank" class="content-page-button"
  onclick="ga('send', {hitType: 'event',eventCategory: 'CTA',eventAction: 'download'});">
  DOWNLOAD CV</a>
</div>

{{ end }}