{{ define "main" }}

{{ partial "nav.html" . }}

<div id="research-section" class="page-wrapper content">
  <div class="intro">
    <div class="page-title">
      Research
    </div>
    <hr class="content-divider mint-color-background">
    <h2 id="research-intro">
      {{ .Params.research_intro | markdownify }}
    </h2>
    <div id="research-body">
      {{ .Params.research_body | markdownify }}
    </div>
  </div>

  <div class="tabset">
    <!-- Tab 1 -->
    <input type="radio" name="tabset" id="curr-projects-tab" aria-controls="current-projects" checked>
    <label for="curr-projects-tab">CURRENT <br/>PROJECTS</label>
    <!-- Tab 2 -->
    <input type="radio" name="tabset" id="past-projects-tab" aria-controls="past-projects">
    <label for="past-projects-tab">PAST <br/>PROJECTS</label>
    <!-- Tab 3 -->
    <input type="radio" name="tabset" id="research-group-tab" aria-controls="research-group">
    <label for="research-group-tab">RESEARCH <br/>GROUP</label>
    
    <div class="tab-panels">
      <section id="current-projects" class="tab-panel projects">
        {{ range .Params.current_projects }}
        <img class="research-figure" src="{{ .figure }}">
        <h2 class="research-header">{{ .project_title | upper }}</h2>
        <div class="project-content">
          {{ .description | markdownify }}
        </div>
        {{ end }}
      </section>

      <section id="past-projects" class="tab-panel projects">
        {{ range .Params.past_projects }}
        <img class="research-figure" src="{{ .figure }}">
        <h2 class="research-header">{{ .project_title | upper }}</h2>
        <div class="project-content">
          {{ .description | markdownify }}
        </div>
        {{ end }}
      </section>

      <section id="research-group" class="tab-panel">
        <div id="postdocs">
          <h3 class="research-group-section-header">POSTDOCTORAL RESEARCHERS</h3>
          {{ range .Params.postdoc_researchers }}
          <div class="container researcher-bio">
            <div class="row">
              <div class="col-lg-4">
                <img class="research-group-photo" src="{{ .photo }}">
              </div>
              <div class="col-lg-8">
                <h2 class="research-header name">{{ .name }}</h2>
                <p class="research-content">{{ .about | markdownify }}</p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>

        <h3 class="research-group-section-header">GRADUATE STUDENTS</h3>
        {{ range .Params.grad_students }}
        <div class="container researcher-bio">
          <div class="row">
            <div class="col-lg-4">
              <img class="research-group-photo" src="{{ .photo }}">
            </div>
            <div class="col-lg-8">
              <h2 class="research-header name">{{ .name }}</h2>
              <p class="research-content">{{ .about | markdownify }}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </section>
    </div>
    
  </div>
</div>

<script src="/js/research.js"></script>

{{ end }}