{{ define "main" }}

{{ partial "nav.html" . }}

<div id="teaching-section" class="page-wrapper content">
  <div class="page-title">
    Teaching
  </div>
  <hr class="content-divider mint-color-background">

  <h2 class="content-intro">
    {{ .Params.teaching_intro | markdownify }}
  </h2>
  <div class="content-body">
    {{ .Params.teaching_body | markdownify }}
  </div>
  <button class="content-page-button" type="button" onclick="location.href='{{ .Params.course_page_url }}'">VIEW COURSES</button>
</div>

{{ end }}