<header id="landing-section">
  {{ partial "nav.html" . }}
  <div id="landing-section-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-11">
          <h1>
            {{ .Params.landing_intro | markdownify }}
          </h1>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>
  </div>
</header>

<div id="home-page-wrapper" class="page-wrapper">
  <div id="about-preview-section" class="container">
    <div class="row">
      <div id="about-preview-image" class="col-lg-6">
        <img id="molly-with-rock-img" src="images/molly-rock.jpg">
      </div>
      <div id="about-preview-content" class="col-lg-6">
        <h2 id="about-preview-intro">
          {{ .Params.about_preview.about_preview_intro | markdownify }}
        </h2>
        <hr class="mint-color-background">
        <p id="about-preview-body">
          {{ .Params.about_preview.about_preview_body | markdownify }}
        </p>
        <button type="button">READ MORE</button>
      </div> 
    </div>
  </div>

  <div id="home-page-cards" class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="icon-square mint-color-background">
            <img id="research-icon" class="card-icon" src="svg/research-icon.svg">
          </div>
          <h2 class="card-header">Research</h2>
          <p>{{ .Params.navigation_cards.research_blurb }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="icon-square gold-color-background">
            <img id="teaching-icon" class="card-icon" src="svg/teaching-icon.svg">
          </div>
          <h2 class="card-header">Teaching</h2>
          <p>{{ .Params.navigation_cards.teaching_blurb }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="icon-square lavender-color-background">
            <img id="curricular-materials-icon" class="card-icon" src="svg/curricular-materials-icon.svg">
          </div>
          <h2 class="card-header">Curricular Materials</h2>
          <p>{{ .Params.navigation_cards.curr_materials_blurb }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
