<!-- mobile nav menu expanded -->
<nav id="mobile-nav-menu">
  <img id="close-icon" src="/svg/close-icon.svg">
  <ul id="mobile-nav-links-section">
    <li>
      <a href="{{ .Site.BaseURL }}" class='mobile-nav-link {{ if .IsHome }}active{{ end }}'>HOME</a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}/about" class='mobile-nav-link {{ if eq .Params.layout "about" }}active{{ end }}'>ABOUT</a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}/research" class='mobile-nav-link {{ if eq .Params.layout "research" }}active{{ end }}'>RESEARCH</a>
    </li>
    <li>
      <a class='mobile-nav-link {{ if eq .Params.layout "teaching" }}active{{ end }}'>TEACHING</a>
    </li>
    <li>
      <a class='mobile-nav-link {{ if eq .Params.layout "curricular_materials" }}active{{ end }}'>CURRICULAR MATERIALS</a>
    </li>
    <li>
      <a class='mobile-nav-link {{ if eq .Params.layout "contact" }}active{{ end }}'>CONTACT</a>
    </li>
  </ul>
</nav>
<div class="dim-overlay"></div>

<!-- main nav -->
<div id="content-page-header" class='{{ if not .IsHome }}active{{ end }}'>
  <nav class="navbar">
    <a class="nav-title" href="{{ .Site.BaseURL }}">
      DR. MOLLY SIMON
    </a>
  
    <!-- large display -->
    <div class="page-nav-links-section text-right">
      <a href="{{ .Site.BaseURL }}/about" class='page-nav-link {{ if eq .Params.layout "about" }}active{{ end }}'>ABOUT</a>
      <a href="{{ .Site.BaseURL }}/research" class='page-nav-link {{ if eq .Params.layout "research" }}active{{ end }}'>RESEARCH</a>
      <a href="{{ .Site.BaseURL }}/teaching" class='page-nav-link {{ if eq .Params.layout "teaching" }}active{{ end }}'>TEACHING</a>
      <a href="{{ .Site.BaseURL }}/curricular_materials" class='page-nav-link {{ if eq .Params.layout "curricular_materials" }}active{{ end }}'>CURRICULAR MATERIALS</a>
      <a class='page-nav-link {{ if eq .Params.layout "contact" }}active{{ end }}'>CONTACT</a>
    </div>
  
    <!-- mobile display -->
    <img id="mobile-nav-menu-icon" src="/svg/menu-hamburger.svg">
  </nav>
</div>